Thumbs.db

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.bak
.DS_Store
*.dotcover
*~

[Bb]in

bin/

[Dd]ebug*/

*.lib
*.sbr
obj/
[Rr]elease*/
_git_exclude/

_ReSharper*/
_UpgradeReport_Files
UpgradeLog.XML

[Tt]est[Rr]esult*
*.vsprops
TalifunCompression/
Compressed/
*.ncrunchsolution
*.ncrunchproject
*.vssscc
*.sln.DotSettings

!NuGet.exe

Logs/